[mysqld]
server-id                = 3
gtid_mode                = ON
enforce_gtid_consistency = ON
log_bin                  = mysql-bin
binlog_format            = ROW

# multi-source replication 필수: 메타데이터를 TABLE에 저장
master_info_repository   = TABLE
relay_log_info_repository = TABLE

# 읽기 전용 (분석용 replica)
read_only                = ON
